DOMAIN=docker.danzeroum.com
EMAIL=seu@email.com
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=troque-essa-senha
SOCKET_PROXY=http://docker-socket-proxy:2375
TRUSTED_GATEWAY_CIDR=172.19.0.0/16   # docker network inspect btv-prod-net --format '{{range .IPAM.Config}}{{.Subnet}}{{end}}'
